.LightCell {
    height: 10rem;
    width: 10rem;
    border: solid #000000; 
    border-radius: 1px;
    background-color: #263238;
    transition: background-color 0.7s ease;
}
.lightOn {
    background-color: #00bcd4;
}
.LightCell:hover {
    cursor: pointer;

}

